<%- if !@sessions.empty? -%>
  <ul>
    <%- @sessions.each do |session| %>
      <li>
        <%= link_to session.name, session_questions_path(session) %>
      </li>
    <%- end -%>
  </ul>
<%- end -%>
