<div class="power-title">
  <!-- yes, I am fully aware of how huge the font is -->
  <p>weQuery</p>
</div>
<div class="power-phrase">
  <p>the power of anonymous queries at your fingertips</p>
</div>
